<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ title }}</title>
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }
        td, th {
            border: 1px solid #eee;
            padding: 4px 8px;
        }
        .red {background: hsla(0, 80%, 80%, 0.4)}
        .green {background: hsla(180, 80%, 80%, 0.4)}
    </style>
</head>
<body>
    
    <h1>{{ title }}</h1>

    DATUM: <input id="date" type="text">
    Vaš ID: <input id="Id" type="text">

    <table id="users_time">
        <thead>
            <tr>
                <th>Ime</th>
                <th>Prezime</th>
                <th></th>
                <th>Datum</th>
                <th>Vrijeme</th>
            </tr>
        </thead>
        <tbody id="users_time_tbody">

        </tbody>
    </table>

    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script>
        const $users_time_tbody = $('#users_time_tbody');
        const $date = $('#date');

        const get_by_date = (date) => {
            $.get(`/api/date?date=${date}`, function(data) {
                console.log(data)
                const TR = data.map(obj => `
                    <tr>
                        <td>${obj.name}</td>
                        <td>${obj.surname}</td>
                        <td class="${obj.is_in == 1 ? "green" : "red"}">${obj.is_in == 1 ? "Dolazak" : "Odlazak"}</td>
                        <td>${obj.date}</td>
                        <td>${obj.time}</td>
                    </tr>
                `);
                if ( $date.val() === '' ) $date.val(date);
                $users_time_tbody.html(TR)
            })
        }

        $date.on('change', function() {
            get_by_date(this.value);
        })

        get_by_date("2019-10-14");

    </script>


</body>
</html>